@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    
</div>
<footer style="width: 100%; background-color: white; position: fixed; bottom: 0;" class="page-footer has-very-dark-gray-background-color border-top text-muted">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xs-3 text-center">
                <a href="https://www.firsttech.digital/" target="_blank" title="Built by redeyeball">
                    <img src="https://static.wixstatic.com/media/2b7a0b_b7afc36355134e52afb8d0500a9f751c~mv2.png/v1/fill/w_190,h_39,al_c,q_85,usm_0.66_1.00_0.01/Horizontal%20Full%20Colour-01.webp" alt="Horizontal Full Colour-01.png" style="width:190px;height:39px;object-fit:cover;object-position:50% 50%">
                </a>
            </div>
        </div>
    </div>
</footer>
